@font-face {
  font-family: 'Proxima Nova';
  font-weight: 300;
  src: url('./fonts/ProximaNova-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 700;
  src: url('./fonts/ProximaNova-Bold.otf') format('opentype');
}

* {
  font-family: 'Proxima Nova';
  font-size: 10px;
  box-sizing: border-box;
}

html, body {
  background-color: #444;
  margin: 0;
  padding: 0;
}

#A4 {
  width: 21cm;
  height: 29.7cm;
  background-color: #fff;
  padding: 1.5rem 5rem;
}

.section--about-me p {
  font-size: 1.2rem;
}

h1 {
  font-family: 'Proxima Nova';
  font-size: 3.6rem;
  font-weight: 700;
}

h1 span {
  font-size: 3.6rem;
  font-weight: 300;
}



