@font-face {
  font-family: 'Proxima Nova';
  font-weight: 300;
  src: url('./fonts/ProximaNova-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 700;
  src: url('./fonts/ProximaNova-Bold.otf') format('opentype');
}

$main-header-horizontal-margin: 3.6rem;

$global-font-size: 1.2rem;
$header-font-size: 0;
$header-margin-top: 0;
$header-margin-bottom: 0;
$subheader-font-size: 0;
$subheader-margin-top: 0;
$subheader-margin-bottom: 0;

* {
  box-sizing: border-box;
  text-align: justify;
}

html, body {
  background-color: #444;
  margin: 0;
  padding: 0;
  font-family: 'Proxima Nova';
  font-size: 10px;
}

h1, h2, h3 {
  margin-top: 0;
}

ul {
  padding-left: 1.1rem;
}

p {
  margin: 0;
}

#A4 {
  width: 21cm;
  height: 29.7cm;
  background-color: #fff;
  padding: 8rem;
  padding-top: 6rem;
  padding-bottom: 4rem;
}

.contacts,
.education,
.hobbies,
.projects,
.work-history,
.certificates,
.languages {
  font-size: $global-font-size;
}


.section {
  margin-bottom: 3.6rem;
}

.header {
  display: grid;
  grid-gap: 2.2rem;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  font-size: 1.7rem;
  margin-bottom: 2rem;

  & .title {
    text-align: center;
  }
  & .line-fix {
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #aaa;
  }
  & .limited {
    width: 10rem;
  }
  & .before {
    justify-self: end;
  }
  & .after {
    justify-self: start;
  }
}

.contacts {
  padding: 0;
  margin: 0 0 3rem 0;

  & .flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 2rem;

    & .icon {
      width: 1.4rem;
      height: 1.4rem;
      margin: 0 1rem;
      transform: translateY(3px);
    }
  }
  &::before, &::after {
    content: '';
    width: 100%;
    height: 0.1rem;
    display: block;
    background-color: #aaa;
  }
}

.links {
  &::after {
    content: '';
    width: 0;
    height: 0;
  }
}

.subheader {
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
}

.main--header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.6rem;

  & .name, .occupation {
    margin-left: $main-header-horizontal-margin;
  }

  & .name {
    // font-family: 'Proxima Nova';
    margin-top: 2.8rem;
    margin-bottom: 1.2rem;
    font-size: 3.6rem;
    font-weight: 700;
    & .surname {
      font-size: 3.6rem;
      font-weight: 300;
    }
  }

  & .occupation {
    font-size: 1.5rem;
  }


  & .cover-container {
    margin-right: $main-header-horizontal-margin;
    border-radius: 50%;
    //overflow: hidden;

    & .cover-photo {
      border-radius: 50%;
      width: 14rem;
      transform: scale(1.2) ;
    }
  }
}

.about-me {
  margin-bottom: 2.7rem; // override

  & p {
    font-size: 1.2rem;
  }
}

.main-content-container {
  display: flex;

  & .left-column {
    padding-right: 2rem;
  }
  & .right-column {
    padding-left: 2rem;
  }

}

.skills {
  & .skill {
    display: flex;
    justify-content: space-between;
    font-size: $global-font-size;

    & .skill--name {
    }
    & .skill--value {
      width: 10rem;
      height: 6px;
      border-radius: 14px;
    }
    & .skill--value::-webkit-progress-value {
      background-color: #444;
      border-radius: 1px;
    }
    & .skill--value::-webkit-progress-bar {
      background-color: #bbb;
      border-radius: 1px;
    }
  }

  & .skills--list {
    margin-bottom: 1.6rem;
  }

  & .skills--familiar-with {
    font-size: $global-font-size;
  }
}

.languages {
  & .lang {
  }
  & .level {
  }
}

.education {
  & .diploma {
    & .occupation {
      display: block;
      margin-bottom: 1rem;
    }
   & .university {
      display: block;
      margin-bottom: 1rem;
    }
    & .year {
      display: block;
    }
  }
}

.projects {
  & .project {
    margin-bottom: 1.2rem;

    & .address {
      display: block;
      margin-bottom: 1.2rem;
    }
    & .description {
    }
  }
}

.work-history {
  & .address {
      display: block;
      margin-bottom: 1.2rem;
    }
}
