@font-face {
  font-family: 'Proxima Nova';
  font-weight: 300;
  src: url("./fonts/ProximaNova-Light.otf") format("opentype"); }

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 700;
  src: url("./fonts/ProximaNova-Bold.otf") format("opentype"); }

* {
  box-sizing: border-box;
  text-align: justify; }

html, body {
  background-color: #444;
  margin: 0;
  padding: 0;
  font-family: 'Proxima Nova';
  font-size: 10px; }

h1, h2, h3 {
  margin-top: 0; }

ul {
  padding-left: 1.1rem; }

p {
  margin: 0; }

#A4 {
  width: 21cm;
  height: 29.7cm;
  background-color: #fff;
  padding: 8rem;
  padding-top: 8rem;
  padding-bottom: 4rem; }

.contacts,
.education,
.hobbies,
.projects,
.work-history,
.certificates,
.languages {
  font-size: 1.2rem; }

.section {
  margin-bottom: 3.6rem; }

.header {
  font-size: 1.7rem;
  margin-bottom: 2rem;
  text-align: center; }
  .header::before, .header::after {
    content: '';
    border-radius: 4px;
    width: 100%;
    max-width: 1rem;
    height: 0.2rem;
    margin-top: 0.45rem;
    margin-bottom: 0.45rem;
    display: inline-block;
    background-color: black; }
  .header::before {
    margin-right: 2.4rem; }
  .header::after {
    margin-left: 2.4rem; }

.contacts {
  padding: 0;
  margin: 0; }
  .contacts .flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 2rem; }
    .contacts .flex-container .icon {
      width: 1.4rem;
      height: 1.4rem;
      margin: 0 1rem;
      transform: translateY(3px); }
  .contacts::before, .contacts::after {
    content: '';
    width: 100%;
    height: 0.1rem;
    display: block;
    background-color: #aaa; }

.subheader {
  font-size: 1.4rem;
  margin-bottom: 0.4rem; }

.main--header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem; }
  .main--header .name, .main--header .occupation {
    margin-left: 3.6rem; }
  .main--header .name {
    margin-top: 2.8rem;
    margin-bottom: 1.2rem;
    font-size: 3.6rem;
    font-weight: 700; }
    .main--header .name .surname {
      font-size: 3.6rem;
      font-weight: 300; }
  .main--header .occupation {
    font-size: 1.5rem; }
  .main--header .cover-photo {
    border-radius: 50%;
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    object-position: 100% 0%;
    margin-right: 3.6rem; }

.about-me p {
  font-size: 1.2rem; }

.main-content-container {
  display: flex;
  padding-top: 3rem; }
  .main-content-container .left-column {
    padding-right: 2rem; }
  .main-content-container .right-column {
    padding-left: 2rem; }

.skills .skill {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem; }
  .skills .skill .skill--value {
    width: 10rem;
    height: 6px;
    border-radius: 14px; }
  .skills .skill .skill--value::-webkit-progress-value {
    background-color: #444;
    border-radius: 1px; }
  .skills .skill .skill--value::-webkit-progress-bar {
    background-color: #bbb;
    border-radius: 1px; }

.skills .skills--list {
  margin-bottom: 1.6rem; }

.skills .skills--familiar-with {
  font-size: 1.2rem; }

.education .diploma .occupation {
  display: block;
  margin-bottom: 1rem; }

.education .diploma .university {
  display: block;
  margin-bottom: 1rem; }

.education .diploma .year {
  display: block; }

.projects .project {
  margin-bottom: 1.2rem; }
  .projects .project .address {
    display: block;
    margin-bottom: 1.2rem; }

.work-history .address {
  display: block;
  margin-bottom: 1.2rem; }
