@font-face {
  font-family: 'Proxima Nova';
  font-weight: 300;
  src: url('./fonts/ProximaNova-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 700;
  src: url('./fonts/ProximaNova-Bold.otf') format('opentype');
}

* {
  font-family: 'Proxima Nova';
  font-size: 10px;
}

h1 {
  font-family: 'Proxima Nova';
  font-size: 3.6rem;
  font-weight: 700;
}

h1 span {
  font-size: 3.6rem;
  font-weight: 300;
}



